<div class="container topics-container">
  <div class="row" *ngIf="topic">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="topic-avatar">
        <img [src]="topic.avatar" [alt]="topic.name">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">
      <div class="topic-title">
        <h4>{{topic.name}}</h4>
        <p>{{topic.desc}}</p>
      </div>
      <app-user-info [user]="topic.owner"></app-user-info>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Detalhes</a>
    </li>
  </ul>
</div>
