.outside-left{
  float: left;
  height: 100vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
}

.outside-right{
  float: left;
  height: 100vh;
  width: 40vw;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 20px 0px;
}
