<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4>Eu sou o footer.</h4>
      </div>
      <div class="col-6">
        <p>redes sociais</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">
            Facebook
          </button>
          <button type="button" class="btn btn-primary">
            Twitter
          </button>
          <button type="button" class="btn btn-primary">
            Linked-in
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
