.owner-card{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.owner-card__title{
  h4{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color : #666;
  }
  p{
    margin: 0px;
    font-size: 10px;
    font-weight: normal;
    color : #999;
  }
}
.owner-card__avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 8px;
  img{
    height: 30px;
  }
}
