<div class="container topics-container">
  <div class="topic-card" *ngFor="let topic of topics">
    <div class="topic-card__avatar">
      <img [src]="topic.avatar" [alt]="topic.name">
    </div>
    <div class="topic-card__title">
      <h4>{{topic.name}}</h4>
      <p>{{topic.desc}}</p>
      <div class="owner-card">
        <div class="owner-card__avatar">
          <img [src]="topic.owner.avatar" [alt]="topic.owner.name">
        </div>
        <div class="owner-card__title">
          <h4>{{topic.owner.name}}</h4>
          <p>@{{topic.owner.nickName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
